* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg-1-1.jpeg");
  background-size: cover;
}

.blobs {
  height: 200px;
  filter: url("#goo");
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f6901a; */
}

@keyframes blob-left-top-anim {
  0% {
    transform: scale(1.1) translate(0, 0);
  }
  33% {
    transform: scale(0.9) translate(65px, 0);
  }
  62% {
    transform: scale(0.7) translate(65px, 65px);
  }
  94% {
    transform: scale(1.1) translate(0, 0);
  }
}

.blob {
  /* position: absolute; */
  background: #2fb8ff;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  /* margin-top: -50px; */
  /* margin-left: -50px; */
  animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 4s infinite;
}

.circle-content {
  width: 300px;
  height: 300px;
  position: relative;
}

.date {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 30px #000000, -5px -5px 30px #424242,
    0 0 0 20px #202020 inset, -10px -10px 30px #424242 inset,
    10px 10px 30px #000000 inset;
}

.date h1 {
  color: #fff;
  font-weight: 400;
}

.circle {
  width: 300px;
  height: 300px;
  fill: none;
  stroke: url(#gridient);
  stroke-width: 10px;
  stroke-dasharray: 565;
  stroke-dashoffset: var(--circle);
  transform: rotate(-90deg);
}

.wrap {
  width: 1200px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  /* grid-template-columns: 300px; */
  justify-content: space-between;
  /* justify-content: center; */
}

.card-item {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: -1px 15px 30px -12px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
}

.role {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: url("../images/listbg1-1-3.jpeg") no-repeat;
  background-position: 100% 100%;
  background-size: 130%;
  position: relative;
  transform-style: preserve-3d;
}

.role img {
  width: 400px;
  position: absolute;
  top: -50%;
  left: -20%;
  transform: translateZ(50px);
}

.des {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  transform: translateZ(40px);
}

.des h6 {
  color: #f6901a;
  font-weight: 400;
}

.des h1 {
  padding: 10px;
  font-size: 26px;
}

.des p {
  text-align: left;
  font-size: 14px;
  padding: 0 16px;
}

.btn-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #f6901a;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform-style: preserve-3d;
}

.btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  transform-style: preserve-3d;
}

.btn h3 {
  margin-bottom: 4px;
  color: #fff;
  transform: translateZ(40px);
}

.btn span {
  font: 14px;
  color: #fff;
  transform: translateZ(40px);
}
